@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<h1>This is branch longnk nhé</h1>

<form method="post">
    <button type="submit">Click TestAddRole</button>
</form>

@if (Model.Message != null)
{
    <p>@Model.Message</p>
}
