@page
@model SSI.Web.Client.Pages.PaymentCallbackModel

<section style="margin-top:250px">
    <h1>Payment Callback</h1>
    <p>The payment callback function has been executed.</p>
    <p>Result: @Model.Result</p>
</section>
