@page
@model SSI.Web.Client.Pages.PaymentModel
<section style="margin-top:500px">
    <form method="post">
        <button type="submit"><h3 style="color: red">Checkout</h3></button>
    </form>
</section>

