@page
@model SSI.Pages.ChangePasswordModel
@{
    Layout = "_LayoutUserDashboard";
}

<div class="col-xl-9 col-lg-8 wow fadeInRight">
    <div class="dashboard_content">
        <h2 class="dashboard_title">Change Password</h2>
        <form method="post" class="dashboard_change_password">
            <div class="row">
                <div class="col-md-12">
                    <input asp-for="changePasswordModel.CurrentPassword" type="password" placeholder="Current Password">
                    <span asp-validation-for="changePasswordModel.CurrentPassword" class="text-danger"></span>
                    @if (!string.IsNullOrEmpty(Model.ErrorMessage))
                    {
                        <span style="color: red">@Model.ErrorMessage</span>
                    }
                </div>
                <div class="col-md-12">
                    <input asp-for="changePasswordModel.NewPassword" type="password" placeholder="New Password">
                    <span asp-validation-for="changePasswordModel.NewPassword" class="text-danger"></span>
                </div>
                <div class="col-xl-12">
                    <input asp-for="changePasswordModel.ConfirmPassword" type="password" placeholder="Confirm Password">
                    <span asp-validation-for="changePasswordModel.ConfirmPassword" class="text-danger"></span>
                </div>

                <button type="submit" class="common_btn">Submit <span></span></button>
            </div>
        </form>
    </div>
</div>

