@page
@model SSI.Pages.SelectRoleModel
@{
    Layout = null;
}
<link rel="icon" type="image/png" href="assetsClient/images/favicon.png">
<link rel="stylesheet" href="assetsClient/css/all.min.css">
<link rel="stylesheet" href="assetsClient/css/bootstrap.min.css">
<link rel="stylesheet" href="assetsClient/css/nice-select.css">
<link rel="stylesheet" href="assetsClient/css/slick.css">
<link rel="stylesheet" href="assetsClient/css/venobox.min.css">
<link rel="stylesheet" href="assetsClient/css/ranger_slider.css">
<link rel="stylesheet" href="assetsClient/css/animate.css">
<link rel="stylesheet" href="assetsClient/css/scroll_button.css">
<link rel="stylesheet" href="assetsClient/css/custom_spacing.css">
<link rel="stylesheet" href="assetsClient/css/select2.min.css">
<link rel="stylesheet" href="assetsClient/css/colorfulTab.min.css">
<link rel="stylesheet" href="assetsClient/css/jquery.animatedheadline.css">
<link rel="stylesheet" href="assetsClient/css/animated_barfiller.css">
<link rel="stylesheet" href="assetsClient/css/style.css">
<link rel="stylesheet" href="assetsClient/css/responsive.css">
<style>
    html, body {
        height: 100%;
        margin: 0;
        overflow: hidden;
    }

    .full-screen-section {
        height: 100vh;
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }

</style>
<section class="sign_up sign_in full-screen-section">
    <div class="row justify-content-center">
        <div class="col-xl-12 col-md-10 col-lg-6 wow fadeInRight">
            <div style="margin-top: -15%" class="sign_in_form">
                <h2>Hi, @Model.registerViewModel.DisplayName !!!! </h2>
                <form method="post">
                    <h2>What role do you use our platform for ?</h2>
                    <p class="description">Please select the role you want to continue registering into the system.</p>
                    <div class="row">
                        <div class="col-6">
                            <button value="founder" class="common_btn" type="submit">founder</button>
                        </div>
                        <div class="col-6">
                            <button value="investor" class="common_btn" type="submit">investor</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<script src="assetsClient/js/jquery-3.7.1.min.js"></script>
<!--bootstrap js-->
<script src="assetsClient/js/bootstrap.bundle.min.js"></script>
<!--font-awesome js-->
<script src="assetsClient/js/Font-Awesome.js"></script>
<!--nice select js-->
<script src="assetsClient/js/jquery.nice-select.min.js"></script>
<!--marquee js-->
<script src="assetsClient/js/jquery.marquee.min.js"></script>
<!--slick js-->
<script src="assetsClient/js/slick.min.js"></script>
<!--countup js-->
<script src="assetsClient/js/jquery.waypoints.min.js"></script>
<script src="assetsClient/js/jquery.countup.min.js"></script>
<!--venobox js-->
<script src="assetsClient/js/venobox.min.js"></script>
<!--scroll button js-->
<script src="assetsClient/js/scroll_button.js"></script>
<!--price ranger js-->
<script src="assetsClient/js/ranger_jquery-ui.min.js"></script>
<script src="assetsClient/js/ranger_slider.js"></script>
<!--select 2 js-->
<script src="assetsClient/js/select2.min.js"></script>
<!--aos js-->
<script src="assetsClient/js/wow.min.js"></script>
<!--colorfulTab js-->
<script src="assetsClient/js/colorfulTab.min.js"></script>
<!--sticky sidebar js-->
<script src="assetsClient/js/sticky_sidebar.js"></script>
<!--animated barfiller js-->
<script src="assetsClient/js/animated_barfiller.js"></script>
<!--animatedheadline js-->
<script src="assetsClient/js/jquery.animatedheadline.min.js"></script>
<!--script/custom js-->
<script src="assetsClient/js/script.js"></script>
