@page
@model SSI.Pages.UserEditProfileModel
@{
    Layout = "_LayoutUserDashboard";
}

<div class="col-xl-9 col-lg-8 wow fadeInRight">
    <div class="dashboard_content">
        <div class="dashboard_profile_info">
            <div class="dashboard_profile_info_edit">
                <h2>Edit Information <a href="">Cancel</a></h2>
                <form class="info_edit_form">
                    <div class="row">
                        <div class="col-md-6">
                            <input type="text" placeholder="Name">
                        </div>
                        <div class="col-md-6">
                            <input type="email" placeholder="Email">
                        </div>
                        <div class="col-md-6">
                            <input type="text" placeholder="+880 Enter phone number">
                        </div>
                        <div class="col-md-6">
                            <select class="select_2">
                                <option value="">select country</option>
                                <option value="">thailand</option>
                                <option value="">korea</option>
                                <option value="">singapore</option>
                                <option value="">london</option>
                            </select>
                        </div>
                        <div class="col-md-6">
                            <select class="select_2">
                                <option value="">City</option>
                                <option value="">thailand</option>
                                <option value="">korea</option>
                                <option value="">singapore</option>
                                <option value="">london</option>
                            </select>
                        </div>
                        <div class="col-md-6">
                            <input type="text" placeholder="Zip code">
                        </div>
                        <div class="col-md-12">
                            <textarea rows="6"
                                      placeholder="441, 4th street, Washington DC, USA"></textarea>
                            <button type="submit" class="common_btn">
                                Save Profile
                                <span></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>