@page
@model SSI.Pages.VietQr_ReturnModel
@{
}
<section style="margin-top:150px">
    <div class="jumbotron text-center">
        <h1 class="display-3">Thank You!</h1>
        <p class="lead"><strong>Thank you</strong> for using my service.</p>
        <hr>
        <p class="lead">
            <a class="btn btn-primary btn-sm" href="/managerequestinvestor" role="button">Back to manage request</a>
        </p>
    </div>
</section>

